<!DOCTYPE html>
<html>
  <head>
    <title>groovecamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">

    <link rel="icon" 
  type="image/png" 
  href="https://cdn3.iconfinder.com/data/icons/music-and-audio-1/26/music-audio-1027-512.png">
    


    
    
    
    <%=stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%=javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
